	
	{{> header}}

	<div class="container">
		<h2>Welcome, {{user.username}}!</h2>
		<p>This is your profile page.</p>
		<hr>
		{{#each user.posts}}
			<strong><p>{{title}}</p></strong> - {{description}}
		{{/each}}	
	</div>

	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- handlebars -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

	<!-- custom script -->
	<script type="text/javascript" src="scripts/main.js"></script>
	
</body>
</html>